body{
  margin: 0;
}

.login-form-child {
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #43C0DB;
  width: 1000px;
  height: 1440px;
}
.login {
  position: absolute;
  top: 1107px;
  left: 398px;
  font-size: 50px;
  line-height: 109%;
  display: inline-block;
  width: 156px;
  height: 64px;
}
.span {
  color: #d20a0a;
}
.mtech {
  position: absolute;
  top: 30px;
  left: 259px;
  font-size: 150px;
  line-height: 109%;
  display: inline-block;
  width: 730px;
  height: 330px;
  color: white;
  text-align: center;
}
.welcome-to-mtech {
  margin: 0;
  color: white;
}
.welcome-to-mtech-container {
  position: absolute;
  top: 240px;
  left: 181px;
  line-height: 109%;
  display: inline-block;
  width: 454px;
  height: 106px;
  color: white;
}
.b-e-y,
.register {
  display: inline-block;
}
.b-e-y {
  position: absolute;
  top: 180px;
  left: 332px;
  color: var(--color-gainsboro-100);
  width: 443px;
  height: 60px;
  color: white;
  text-align: center;
}
.register {
  top: 240px;
  left: 931px;
  text-decoration: underline;
  color: var(--color-whitesmoke);
  width: 292px;
  height: 47px;
  color: white;
}
.email,
.password,
.register {
  position: absolute;
  line-height: 109%;
  color: white;
}
.email {
  top: 562px;
  left: 181px;
  display: inline-block;
  width: 409px;
}
.password {
  top: 787px;
  left: 179px;
}
.login-form-inner,
.login-form-item {
  position: absolute;
  top: 633px;
  left: 179px;
  background-color: var(--color-gainsboro-100);
  width: 619px;
  height: 102px;
}
.login-form-inner {
  top: 862px;
  left: 174px;
  background-color: var(--color-whitesmoke);
  width: 624px;
}
.remember-me {
  position: absolute;
  top: 1003px;
  left: 206px;
  font-size: 30px;
  line-height: 109%;
  color: var(--color-white);
}
.login-form {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1440px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gainsboro-200);
  font-family: var(--font-poppins);
}
