body {
  margin: 0;
  padding: 0;
}

.container-child {
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #43C0DB;
  width: 1000px;
  height: 935px;
  z-index: -1;
}

.span {
  color: #d20a0a;
}

.mtech {
  position: absolute;
  top: 30px;
  left: 259px;
  font-size: 150px;
  line-height: 109%;
  display: inline-block;
  width: 730px;
  height: 330px;
  color: white;
}

.welcome-to-mtech {
  margin: 0;
  color: white;
}

.welcome-to-mtech-container {
  position: absolute;
  top: 240px;
  left: 180px;
  line-height: 109%;
  display: inline-block;
  width: 454px;
  height: 106px;
  color: white;
  font-size: 20px;
}

.b-e-y,
.register {
  display: inline-block;
}

.b-e-y {
  position: absolute;
  top: 180px;
  left: 332px;
  color: var(--color-gainsboro-100);
  width: 443px;
  height: 60px;
  color: white;
  font-size: 20px;
}

.register {
  top: 240px;
  left: 830px;
  text-decoration: underline;
  width: 292px;
  height: 47px;
  color: white;
}

.login-form {
  z-index: 10;
  margin-top: 335px;
  margin-left: 185px;
  color: white;
}

.login-form input[type="email"],
.login-form label[for="email"],
.login-form input[type="password"],
.login-form label[for="password"] {
  font-size: 25px;
  margin-bottom: 10px;
}

.register,
.remember-me-label,
.login-button {
  position: absolute;
  line-height: 109%;
  color: white;
}

.remember-me-label {
  top: 500px;
  left: 206px;
  font-size: 30px;
}

.login-button {
  position: absolute;
  top: 550px;
  left: 220px;
  padding: 10px 20px;
  background-color: #7CDBD8;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 24px;
}

.container {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1440px;
  overflow: hidden;
  text-align: left;
  margin-left: 0;
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  width: 100%;
}


@media (max-width: 768px) {
  .login-form {
    margin-top: 20px;
  }

  .btn-primary {
    font-size: 16px;
  }
}