body {
  margin: 0;
  padding: 0;
}

.container-child {
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #43C0DB;
  width: 1000px;
  height: 935px;
  z-index: -1;
}

.span {
  color: #d20a0a;
}

.mtech {
  position: absolute;
  top: 30px;
  left: 259px;
  font-size: 150px;
  line-height: 109%;
  display: inline-block;
  width: 730px;
  height: 330px;
  color: white;
}

.welcome-to-mtech {
  margin: 0;
  color: white;
}

.welcome-to-mtech-container {
  position: absolute;
  top: 240px;
  left: 180px;
  line-height: 109%;
  display: inline-block;
  width: 454px;
  height: 106px;
  color: white;
  font-size: 20px;
}

.b-e-y,
.register {
  display: inline-block;
}

.b-e-y {
  position: absolute;
  top: 180px;
  left: 332px;
  color: var(--color-gainsboro-100);
  width: 443px;
  height: 60px;
  color: white;
  font-size: 20px;
}

.register {
  top: 240px;
  left: 830px;
  width: 292px;
  height: 47px;
  color: white;
  text-decoration: none;
}

.register a {
  color: white;
  text-decoration: none;
}

.register a:hover {
  text-decoration: none;
  color: white;
}


.login-form {
  z-index: 10;
  margin-top: 335px;
  margin-left: 185px;
  color: white;
}

.login-form input[type="email"],
.login-form label[for="email"],
.login-form input[type="password"],
.login-form label[for="password"] {
  font-size: 25px;
  margin-bottom: 10px;
}

.register,
.remember-me-label,
.login-button {
  position: absolute;
  line-height: 109%;
  color: white;
}

.remember-me-label {
  top: 500px;
  left: 206px;
  font-size: 30px;
}

.login-button {
  position: absolute;
  top: 550px;
  left: 220px;
  padding: 10px 20px;
  background-color: #7CDBD8;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 24px;
}

.container {
  position: relative;
  width: 100%;
  height: 920px;
  overflow: hidden;
  text-align: left;
  margin-left: 0;
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  width: 100%;
}

.circle-container {
  position: absolute;
  background-color: white;
  height: 928px;
  top: -6px;
  left: 1000px;
  width: 1000px;
  z-index: -1;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #43C0DB;
  position: absolute;
  top: 50%;
  right: 395px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-text {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.circle-mtech {
  font-size: 50px;
  text-align: center;
}

.circle-beyond {
  font-size: 10px;
}

.circle::after .circle-text {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.account .account-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: 120px;
  left: -189px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.account-label {
  height: 44px;
}

/* .account-label .maccount {
  z-index: 100;
  position: fixed;
  top: 130px;
  left: -162px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
} */

.account-label .maccount a {
  z-index: 100;
  position: fixed;
  top: 130px;
  left: -162px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
  text-decoration: none;
  pointer-events: auto;
}

.account-label .maccount a:hover {
  text-decoration: none;
}



.account-label .text-wrapper {
  color: #f01717;
}

.account-label .span {
  color: #43c0db;
}


.smart .smart-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: 112px;
  left: 280px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.smart-label .msmart {
  position: fixed;
  top: 125px;
  left: 315px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
}

.smart-label .text-wrapper {
  color: #f01717;
}

.smart-label .span {
  color: #43c0db;
}

.retail .retail-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: -188px;
  left: -207px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.retail-label .mretail {
  position: fixed;
  top: -180px;
  left: -158px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
}

.retail-label .text-wrapper {
  color: #f01717;
}

.retail-label .span {
  color: #43c0db;
}

.resto .resto-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: -188px;
  left: 275px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.resto-label .mresto {
  position: fixed;
  top: -180px;
  left: 323px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
}

.resto-label .text-wrapper {
  color: #f01717;
}

.resto-label .span {
  color: #43c0db;
}

.alert .alert-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: 395px;
  left: 370px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.alert-label .malert {
  position: fixed;
  top: 405px;
  left: 420px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
}

.alert-label .text-wrapper {
  color: #f01717;
}

.alert-label .span {
  color: #43c0db;
}


.services .services-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: 480px;
  left: 50px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.services-label .mservices {
  position: fixed;
  top: 490px;
  left: 78px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
}

.services-label .text-wrapper {
  color: #f01717;
}

.services-label .span {
  color: #43c0db;
}

.cloud .cloud-rectangle {
  position: fixed;
  width: 205px;
  height: 65px;
  top: 395px;
  left: -230px;
  background-color: #d9d9d9;
  border-radius: 68px;
}

.cloud-label .mcloud {
  position: fixed;
  top: 408px;
  left: -185px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 43.6px;
  white-space: nowrap;
}

.cloud-label .text-wrapper {
  color: #f01717;
}

.cloud-label .span {
  color: #43c0db;
}


.line {
  position: absolute;
  width: 2px;
  height: 185px;
  background-color: black;
  top: -120px;
  left: -48px;
  border-radius: 40%;
  transform: rotate(320deg);
  transform-origin: 0 0;
}


.line2 {
  position: absolute;
  width: 2px;
  height: 180px;
  background-color: black;
  top: -123px;
  left: 335px;
  border-radius: 40%;
  transform: rotate(37deg);
  transform-origin: 0 0;
}

.line3 {
  position: absolute;
  width: 2px;
  height: 197px;
  background-color: black;
  top: 237px;
  left: 27px;
  border-radius: 40%;
  transform: rotate(37deg);
  transform-origin: 0 0;
}

.line4 {
  position: absolute;
  width: 2px;
  height: 180px;
  background-color: black;
  top: 390px;
  left: 155px;
  transform: translate(-50%, -50%);
  border-radius: 40%;
}

.line5 {
  position: absolute;
  width: 2px;
  height: 223px;
  background-color: black;
  top: 225px;
  left: 278px;
  border-radius: 40%;
  transform: rotate(320deg);
  transform-origin: 0 0;
}








@media (max-width: 768px) {
  .login-form {
    margin-top: 20px;
  }

  .btn-primary {
    font-size: 16px;
  }
}